
#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

############
## PyCharm
############
*.idea

############
## TI-GCC
############
*.tpr
*.89z
*.9xz
*.v2z
*.o
*.s

###########
## Jython
###########
*.class

###########
## gcc
###########
*.exe