
###########
##Eclipse
###########
.plugins/
.lock
.log
.ini
.metadata/
.project
.settings/
.pydevproject
org.*
com.*
.classpath
*.ini
*.log
/Debug
/Release
.cproject

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store


#############
## Python
#############

*.pyx
*.pyc

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

############
## TI-GCC
############
*.tpr
*.89z
*.9xz
*.v2z
*.o
*.s

###########
## gcc
###########
*.exe

###########
## Jython
###########
*.class